# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment
*.local
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.sw?

# Firebase
.firebase/
